name: Composer setup
description: Setup, install and cache Composer dependencies

inputs:
  symfony-version:
    description: The required Symfony version that will be installed
    required: true
    type: string

  composer-flags:
    description: Additional flags that are passed to the `composer update` step
    required: false
    type: string
  
  test-group:
    description: The test group to run, used to remove other optional dependencies.
    required: false
    type: string

runs:
  using: composite
  steps:
    - name: Get Composer cache directory
      id: composer-cache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache Composer dependencies
      uses: actions/cache@v3
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
        restore-keys: |
          ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          ${{ runner.os }}-composer-

    - name: "Enforce using stable dependencies"
      run: "composer config minimum-stability stable"
      shell: bash

    - name: "Remove friendsofsymfony/rest-bundle"
      run: "composer remove friendsofsymfony/rest-bundle --dev --no-update"
      shell: bash
      if: "${{ inputs.test-group != 'fos-rest' && inputs.test-group != 'all' }}"

    - name: "Remove willdurand/hateoas-bundle"
      run: "composer remove willdurand/hateoas-bundle willdurand/negotiation --dev --no-update"
      shell: bash
      if: "${{ inputs.test-group != 'hateoas' && inputs.test-group != 'all' }}"

    - name: "Remove jms/serializer-bundle"
      run: "composer remove jms/serializer-bundle jms/serializer --dev --no-update"
      shell: bash
      if: "${{ inputs.test-group != 'jms-serializer' && inputs.test-group != 'all' }}"

    - name: Install dependencies with Composer
      env:
        SYMFONY_REQUIRE: "${{ inputs.symfony-version }}.*"
      run: composer update --no-interaction --no-progress ${{ inputs.composer-flags }}
      shell: bash
